@{
    ViewBag.Title = "About";
}
<h2 style="color:ghostwhite">@ViewBag.Title</h2>
<h3 style="color:ghostwhite">@ViewBag.Message</h3>

<p style="font-weight:bold; background-color:white; opacity:.67; padding:5px 10px 5px 15px">Garbo-Men is a team of extremely specialized individuals, who are specially train to handle any and all garbage related needs. Each individual have been train at the University of Garbage Disposal and all obtained a certification. </p>
