@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="jumbotron" style="opacity:0.85">
        <h1 align="center">Start Your Garbage Pick-Up NOW!</h1>
        <p class="lead" style="font-style:italic; text-indent:50px">Welcome to Garbo-Men! Let all your worries go and all your trash collection fantasies come to fruition. We are a dedicated group of master trash collectors and will dispose of your un-wanted items with efficiency. For more information, click on the 'About' tab.</p>
    </div>

    <div class="row">
        <div style="background-color:darkslategrey; opacity:.85; padding:1px 10px 1px 15px">
            <h2 style="color:greenyellow" align="center">Getting started</h2>
            <p style="font-weight:bold; color:white; text-align:center">
                Just sign-up for an amazing time with your friendly-neighborhood Garbo-Men. Don't forget to tell your friends about us.
            </p>
        </div>
    </div>
</body>